<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.project.dutchpay.mapper.GroupMapper">

    <select id="getGroups">
        SELECT * FROM dutchgroups
    </select>

    <insert id="insertGroup">
        INSERT INTO dutchgroups (group_name, device_id) VALUES (#{group_name}, #{device_id})
    </insert>

    <update id="updateGroup">
        UPDATE dutchgroups SET group_name = #{group_name} WHERE device_id = #{device_id}
    </update>

    <delete id="deleteGroup">
        delete FROM dutchgroups WHERE group_name = #{group_name}
    </delete>


</mapper>