<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.project.dutchpay.mapper.MemberMapper">

    <select id="GroupMember" >
            SELECT * FROM member where group_id = #{group_id}
    </select>

    <select id="allgroup" >
        SELECT * FROM member
    </select>

    <select id="ListMember" >
        SELECT * FROM member where list_id = #{list_id}
    </select>

    <insert id="InsertMember" parameterType="MemberDTO">
        INSERT  into member (device_id,member,list_id,group_id,money_list)
                VALUES (#{device_id} , #{member}, #{list_id}, #{group_id},#{money_list})
    </insert>

    <delete id="DeleteMember">
        DELETE  FROM member
        where member_id = #{member_id}
    </delete>
</mapper>